.carteBox {
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    max-width: 500px;
    min-width: 300px;
    max-height: 500px;
    min-height: 500px;




}
.carte{

    max-width: 500px;
    min-width: 300px;
    max-height: 500px;
    min-height: 300px;
}


@media screen and (max-width: 800px) {



}