.carteBox {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    width: 500px;



    border: #fff solid 15px;

}


@media screen and (max-width: 800px) {
    .carte {
        flex-grow: 1;
    }

    .carteBox {
        width: auto;
        height: 400px;
    }


}